body {
  background-image: url("../images/memphis-mini-dark.png");
}

.jumbotron {
  background-color: rgb(146, 5, 5);
  padding: 0;
}

img {
  height: 150px;
}

.container {
  display: flex;
  justify-content: center;
 
}

.series{
    display: flex;
    justify-content: center;
}

button{
    margin: 0 10px;
    padding: 10px;
}